

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button {
  width: 150px;
    height: auto;
    padding: 12px;
    background: #299229;
    border: 3px solid #fff;
    border-radius: 500px;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
  display: block;
  cursor: pointer;
}

#stopButton {
  background: #ff0000;
  display: none;
}

